[Unit]
Description=Simple Web Application
After=syslog.target

[Service]
WorkingDirectory={{dyn_app_dir}}
PIDFile={{dyn_role_root}}/{{role}}.pid
ExecStart=/bin/bash -c "{{dyn_role_root}}/app/venv/bin/python ./src/web.py" &
User={{dyn_role_user}}
Group={{dyn_role_group}}
Restart=on-failure
KillSignal=SIGQUIT
Type=simple
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
